.Item{
    /* border: 2px solid grey; */
    padding: 20px;
    margin: 20px;
    width: 220px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #282c34;
    text-align: center;
  }

.Img{
    width: 150px;
    height: 200px;
}

.btn{
    background-color: crimson;
    color: white;
    font-size: 14px;
    border: crimson;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0px 0px 10px #282c34;
  }